/* FILE:       base/applications/cmdutils/hostname/lang/cs-CZ.rc
 * TRANSLATOR: Radek Liska aka Black_Fox (radekliska at gmail dot com)
 * UPDATED:    2013-05-01
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_USAGE "\nVypíše současný název hostitele.\n\nhostname\n"
    IDS_NOSET "sethostname: Open the ""Computer Name"" tab in the ""System"" Control Panel applet\nto change the host name.\nhostname -s není podporováno.\n"
    IDS_ERROR "Chyba: "
END
